<div class="footer">
    <span>
        &copy; 2025 CAT AND ADOPTION CENTER. All rights reserved.<br>
        The content, images, and materials on this website are protected by copyright law. No part of this website may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the copyright holder, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.<br>
        For permissions, please contact rafayabdul599@gmial.com.
    </span>
</div>